@inherits LayoutComponentBase
@inject ILocalStorageService localStorage
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager



<div class="min-h-full min-w-full">
    <div class="bg-black pb-32">
        <nav class="border-b bg-black lg:border-none">
            <div class="mx-auto max-w-9xl px-2 sm:px-4 lg:px-8">
                <div class=" relative flex h-16 items-center justify-between justify-center lg:border-b lg:border-sky-500">
                    <div class="flex items-center lg:px-1">
                        <div class="flex items-center">
                            
                                <button @ref="btn" @onclick="NavToggle" id="btn"
                                        class="z-30 md:hidden focus:outline-none hamburger @(isMenuOpen? "open" : "")">
                                    <span class="text-white hamburger-top"></span>
                                    <span class="hamburger-middle"></span>
                                    <span class="hamburger-bottom"></span>

                                </button>




                            <div class="flex-shrink-0 @(isMenuOpen ? "pl-6" : "")">
                                <img class="block h-9 w-30 pl-2" src="/images/topgun_logosmallwhite2.jpg" alt="HVAC TopGun Logo">
                            </div>

                        </div>

                        <div class="hidden lg:flex lg:justify-center  ">
                            
                            <div class="lg:flex lg:flex-1 hidden lg:flex lg:ml-10 lg:mx-auto ">

                                <!-- Current: "bg-sky-700 text-white", Default: "text-white hover:bg-sky-500 hover:bg-opacity-75" -->
                                <button class="flex block items-center rounded-lg bg-transparent text-white px-2 border border-transparent hover:border-sky-400 rounded">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm4.5 7.5a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0v-2.25a.75.75 0 01.75-.75zm3.75-1.5a.75.75 0 00-1.5 0v4.5a.75.75 0 001.5 0V12zm2.25-3a.75.75 0 01.75.75v6.75a.75.75 0 01-1.5 0V9.75A.75.75 0 0113.5 9zm3.75-1.5a.75.75 0 00-1.5 0v9a.75.75 0 001.5 0v-9z" clip-rule="evenodd" />
                                    </svg>
                                    <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/Dashboard">Dashboard</NavLink></span>
                                    
                                </button>

                                <button class="flex block items-center rounded-lg bg-transparent text-white px-2 border border-transparent hover:border-sky-400 rounded">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path fill-rule="evenodd" d="M7.5 5.25a3 3 0 013-3h3a3 3 0 013 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0112 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 017.5 5.455V5.25zm7.5 0v.09a49.488 49.488 0 00-6 0v-.09a1.5 1.5 0 011.5-1.5h3a1.5 1.5 0 011.5 1.5zm-3 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                                        <path d="M3 18.4v-2.796a4.3 4.3 0 00.713.31A26.226 26.226 0 0012 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 01-6.477-.427C4.047 21.128 3 19.852 3 18.4z" />
                                    </svg>
                                    <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/Bookings">Job Bookings</NavLink></span>
                               
                                </button>

                                <button class="flex block items-center rounded-lg bg-transparent text-white px-2 border border-transparent hover:border-sky-400 rounded">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path d="M12.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM7.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM8.25 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM9.75 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM10.5 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM12.75 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM14.25 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 13.5a.75.75 0 100-1.5.75.75 0 000 1.5z" />
                                        <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/Scheduler">Schedule</NavLink></span>

         
                                </button>

                                <button class="flex block items-center rounded-lg bg-transparent text-white px-2 border border-transparent hover:border-sky-400 rounded">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path fill-rule="evenodd" d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z" clip-rule="evenodd" />
                                        <path fill-rule="evenodd" d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zM6 12a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V12zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 15a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V15zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 18a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V18zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
                                    </svg>
                                    <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/Inventory">Inventory</NavLink></span>

                                </button>

                                <button class="flex block items-center rounded-lg bg-transparent text-white px-2 border border-transparent hover:border-sky-400 rounded">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path d="M11.25 4.533A9.707 9.707 0 006 3a9.735 9.735 0 00-3.25.555.75.75 0 00-.5.707v14.25a.75.75 0 001 .707A8.237 8.237 0 016 18.75c1.995 0 3.823.707 5.25 1.886V4.533zM12.75 20.636A8.214 8.214 0 0118 18.75c.966 0 1.89.166 2.75.47a.75.75 0 001-.708V4.262a.75.75 0 00-.5-.707A9.735 9.735 0 0018 3a9.707 9.707 0 00-5.25 1.533v16.103z" />
                                    </svg>
                                    <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/Pricebook">Pricebook</NavLink></span>

                                </button>

                                <button class="flex block items-center rounded-lg bg-transparent text-white px-2 border border-transparent hover:border-sky-400 rounded">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path fill-rule="evenodd" d="M12 2.25c-2.429 0-4.817.178-7.152.521C2.87 3.061 1.5 4.795 1.5 6.741v6.018c0 1.946 1.37 3.68 3.348 3.97.877.129 1.761.234 2.652.316V21a.75.75 0 001.28.53l4.184-4.183a.39.39 0 01.266-.112c2.006-.05 3.982-.22 5.922-.506 1.978-.29 3.348-2.023 3.348-3.97V6.741c0-1.947-1.37-3.68-3.348-3.97A49.145 49.145 0 0012 2.25zM8.25 8.625a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25zm2.625 1.125a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zm4.875-1.125a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25z" clip-rule="evenodd" />
                                    </svg>
                                    <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/Messages">Messages</NavLink></span>

                                </button>

                                <button class="flex block items-center rounded-lg bg-transparent text-white px-2 border border-transparent hover:border-sky-400 rounded">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path fill-rule="evenodd" d="M3 2.25a.75.75 0 01.75.75v.54l1.838-.46a9.75 9.75 0 016.725.738l.108.054a8.25 8.25 0 005.58.652l3.109-.732a.75.75 0 01.917.81 47.784 47.784 0 00.005 10.337.75.75 0 01-.574.812l-3.114.733a9.75 9.75 0 01-6.594-.77l-.108-.054a8.25 8.25 0 00-5.69-.625l-2.202.55V21a.75.75 0 01-1.5 0V3A.75.75 0 013 2.25z" clip-rule="evenodd" />
                                    </svg>
                                    <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/FollowUp">FollowUp</NavLink></span>

                                </button>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Search bar -->
                    @* <div class="flex flex-1 justify-center px-3 lg:ml-6 lg:justify-end">
                        <div class="w-full max-w-lg lg:max-w-xs">
                            <label for="search" class="sr-only">Search</label>
                            <div class="relative text-gray-400 focus-within:text-gray-600">
                                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <input id="search" class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-4 text-gray-900 focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-sky-600 sm:text-sm sm:leading-6" placeholder="Search" type="search" name="search">
                            </div>
                        </div>
                    </div> *@
                    <!-- Mobile menu button -->

                     <!-- Mobile Toggle -->
                    

                    <div class="flex lg:hidden">
                  
                        

                    </div>
                    <div class="hidden lg:ml-4 lg:block">
                        <div class="flex items-center">
                            <button type="button" class="flex-shrink-0 rounded-full bg-black p-1 text-white hover:text-sky-300 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-sky-600">
                                <span class="sr-only">View notifications</span>
                                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                                </svg>
                            </button>

                         
                            <!-- Profile dropdown -->
                            <div class="relative ml-3 flex-shrink-0">
                                <div>
                                    <button type="button" class="flex rounded-full bg-sky-600 text-sm text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-sky-600"
                                    @onclick="ToggleDropdown" aria-expanded="@isDropdownOpen">
                                        <span class="sr-only">Open user menu</span>
                                        <img class="h-8 w-8 rounded-full"
                                             src="/images/profilepicsm .png"
                                             alt="profile picture">
                                    </button>
                                </div>

                                <!-- Dropdown menu -->
                                <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 @(isDropdownOpen ? "block" : "none")"
                                @onclick="CloseDropdown" style="display: @(isDropdownOpen ? "block" : "none")">
                                    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                                        <!-- Dropdown items -->
                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1"
                                        @onclick="HandleMenuItemClick">Your Profile</a>
                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1"
                                        @onclick="HandleMenuItemClick">Settings</a>
                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1"
                                        @onclick="HandleMenuItemClick">Sign out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     

            <!-- Mobile menu, show/hide based on menu state. -->
            
            <!-- Mobile menu -->
            <div @ref="menu" class="pb-3 pt-4 lg:hidden @(isMenuOpen ? "flex" : "hidden")" id="menu" >

                <div class="flex items-center px-5 py-5">
                    <div class="flex-shrink-0">
                        <img class="h-10 w-10 rounded-full"
                             src="/images/profilepicsm .png"
                             alt="">
                    </div>
                    <div class="ml-3">
                        <div class="text-base font-medium text-white">Casey Spaulding</div>
                        <div class="text-sm font-medium text-sky-300">Casey@HvacCoder.com</div>
                    </div>
                    <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:text-sky-300 hover:bg-opacity-75">Your Profile</a>

                    <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:text-sky-300 hover:bg-blur-75">Sign out</a>
                </div>
                
            </div>
            <div  @ref="menu1" class=" pb-3 pt-4 lg:hidden @(isMenuOpen ? "flex" : "hidden") column-1" id="menu1">
               

                <div class="items-center px-5 space-y-1 px-2 pb-3 pt-2 ">
                 
                    
                    <button class="flex items-center rounded-lg p-1 bg-transparent text-white py-1 px-2 border border-transparent hover:border-sky-400 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm4.5 7.5a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0v-2.25a.75.75 0 01.75-.75zm3.75-1.5a.75.75 0 00-1.5 0v4.5a.75.75 0 001.5 0V12zm2.25-3a.75.75 0 01.75.75v6.75a.75.75 0 01-1.5 0V9.75A.75.75 0 0113.5 9zm3.75-1.5a.75.75 0 00-1.5 0v9a.75.75 0 001.5 0v-9z" clip-rule="evenodd" />
                        </svg>
                        <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/Dashboard">Dashboard</NavLink></span>
                   
                    </button>

                    <button class="flex items-center rounded-lg p-1 bg-transparent text-white py-1 px-2 border border-transparent hover:border-sky-400 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M7.5 5.25a3 3 0 013-3h3a3 3 0 013 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0112 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 017.5 5.455V5.25zm7.5 0v.09a49.488 49.488 0 00-6 0v-.09a1.5 1.5 0 011.5-1.5h3a1.5 1.5 0 011.5 1.5zm-3 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                            <path d="M3 18.4v-2.796a4.3 4.3 0 00.713.31A26.226 26.226 0 0012 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 01-6.477-.427C4.047 21.128 3 19.852 3 18.4z" />
                        </svg>
                        <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/Bookings">Job Bookings</NavLink></span>
                        
                    </button>

                    <button class="flex items-center rounded-lg p-1 bg-transparent text-white py-1 px-2 border border-transparent hover:border-sky-400 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path d="M12.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM7.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM8.25 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM9.75 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM10.5 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM12.75 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM14.25 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 13.5a.75.75 0 100-1.5.75.75 0 000 1.5z" />
                            <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clip-rule="evenodd" />
                        </svg>
                        <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/Scheduler">Schedule</NavLink></span>
                     
                    </button>

                    <button class="flex items-center rounded-lg p-1 bg-transparent text-white py-1 px-2 border border-transparent hover:border-sky-400 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z" clip-rule="evenodd" />
                            <path fill-rule="evenodd" d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zM6 12a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V12zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 15a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V15zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 18a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V18zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
                        </svg>
                        <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/Inventory">Inventory</NavLink></span>

                    </button>

                    <button class="flex items-center rounded-lg p-1 bg-transparent text-white  py-1 px-2 border border-transparent hover:border-sky-400 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path d="M11.25 4.533A9.707 9.707 0 006 3a9.735 9.735 0 00-3.25.555.75.75 0 00-.5.707v14.25a.75.75 0 001 .707A8.237 8.237 0 016 18.75c1.995 0 3.823.707 5.25 1.886V4.533zM12.75 20.636A8.214 8.214 0 0118 18.75c.966 0 1.89.166 2.75.47a.75.75 0 001-.708V4.262a.75.75 0 00-.5-.707A9.735 9.735 0 0018 3a9.707 9.707 0 00-5.25 1.533v16.103z" />
                        </svg>
                        <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/Pricebook">Pricebook</NavLink></span>

                    </button>

                    <button class="flex items-center rounded-lg p-1 bg-transparent text-white  py-1 px-2 border border-transparent hover:border-sky-400 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M12 2.25c-2.429 0-4.817.178-7.152.521C2.87 3.061 1.5 4.795 1.5 6.741v6.018c0 1.946 1.37 3.68 3.348 3.97.877.129 1.761.234 2.652.316V21a.75.75 0 001.28.53l4.184-4.183a.39.39 0 01.266-.112c2.006-.05 3.982-.22 5.922-.506 1.978-.29 3.348-2.023 3.348-3.97V6.741c0-1.947-1.37-3.68-3.348-3.97A49.145 49.145 0 0012 2.25zM8.25 8.625a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25zm2.625 1.125a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zm4.875-1.125a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25z" clip-rule="evenodd" />
                        </svg>
                        <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/Messages">Messages</NavLink></span>
                        
                    </button>

                    <button class="flex items-center rounded-lg p-1 bg-transparent text-white  py-1 px-2 border border-transparent hover:border-sky-400 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M3 2.25a.75.75 0 01.75.75v.54l1.838-.46a9.75 9.75 0 016.725.738l.108.054a8.25 8.25 0 005.58.652l3.109-.732a.75.75 0 01.917.81 47.784 47.784 0 00.005 10.337.75.75 0 01-.574.812l-3.114.733a9.75 9.75 0 01-6.594-.77l-.108-.054a8.25 8.25 0 00-5.69-.625l-2.202.55V21a.75.75 0 01-1.5 0V3A.75.75 0 013 2.25z" clip-rule="evenodd" />
                        </svg>
                        <span style="margin-left: 10px;"><NavLink class="text-sm font-semibold leading-5 tracking-wide text-white" href="/FollowUp">FollowUp</NavLink></span>
                        
                    </button>
                </div>
                
            </div>
        </nav>
        <header class="py-5">
            <div class="mx-auto max-w-9xl px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-white">@GetPageTitle()</h1>
            </div>
        </header>
    </div>

    <main class="-mt-32">
        <div class="mx-auto max-w-9xl px-4 pb-12 sm:px-6 lg:px-8">
            @Body
        </div>
    </main>
</div>


@code {
    private string menuClass2 => isMenuOpen ? "flex" : "hidden";
    private string dropdownClass => isDropdownOpen ? "block" : "hidden";

    private bool isDropdownOpen = false;
    private bool isMobileMenuOpen = false;
    private ElementReference btn;
    private ElementReference menu;
    private ElementReference menu1;
    private ElementReference logo;
    private bool isMenuOpen = false;
    private bool _darkMode = true;
    private string menuClass => isMenuOpen ? "flex" : "hidden";
    private string Theme { get; set; } = "light";

    private bool isDarkMode = false;

    private string GetPageTitle()
    {
        var pageTitle = "HVAC TopGun"; // Set a default title
        var currentUri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var pageName = currentUri.Segments.LastOrDefault()?.Trim('/') ?? string.Empty;

        // You can define custom logic here to set the page title based on the page name or other criteria
        switch (pageName)
        {
            case "Dashboard":
                pageTitle = "Dashboard";
                break;
            case "Scheduler":
                pageTitle = "Schedule";
                break;
            case "Bookings":
                pageTitle = "Job Bookings";
                break;
            case "Inventory":
                pageTitle = "Inventory";
                break;
            case "Messages":
                pageTitle = "Messages";
                break;
            case "FollowUp":
                pageTitle = "FollowUp";
                 break;
            case "Pricebook":
                pageTitle = "Pricebook";
                break;


                // Add more cases as needed for other pages
        }

        return pageTitle;
    }

    private async Task ToggleDarkMode(bool darkMode)
    {
        isDarkMode = darkMode;
        await InvokeAsync(StateHasChanged);
    }

    private void NavToggle()
    {
        isMenuOpen = !isMenuOpen;

    }


    private string GetLogoSource()
    {
        string logoFileName = _darkMode ? "logo-dark.png" : "logo-light.png";
        string logoSource = $"images/{logoFileName}";
        return logoSource;
    }

                            private void toggleMobileMenu()
                            {
                                isMobileMenuOpen = !isMobileMenuOpen;
                            }


    private void LoginClicked()
    {
        // Handle login button click event
    }

    private async Task UpdateDarkMode(bool darkMode)
    {
        _darkMode = darkMode;
        await InvokeAsync(StateHasChanged);
    }

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
    }

    private void CloseDropdown()
    {
        isDropdownOpen = false;
    }

    private void HandleMenuItemClick()
    {
        // Handle the menu item click event here
    }

    private void HandleMobileMenuItemClick()
    {
        // Handle the mobile menu item click event here
    }

    

    
    
}